1. Create a function to perform basic arithmetic operations that 
includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [18]:
def f1(x):
    a,b,c= map(str,(x.split(' ')))
    if b =='+':
        return int(a)+int(c)
    if b =='-':
        return int(a)-int(c)
    if b =='*':
        return int(a)*int(c)
    if b == '//':
        if int(c)!=0:
            return int(a)//int(c)
        else:
            return -1

In [17]:
f1('12 + 12')

24

In [20]:
f1('12 - 12')

0

In [21]:
f1('12 * 12')

144

In [22]:
f1('12 // 12')

1

In [23]:
f1('12 // 0')

-1

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [29]:
import math
def distnce(a,b):
    return math.sqrt(((a[0])-(b[0]))**2+((a[1])-(b[1]))**2)
    
def f2(x):
    return distnce(x[0],x[1])+distnce(x[1],x[2])+distnce(x[0],x[2])

In [30]:
f2([[15,7],[5,22],[11,1]])

47.07918859608948

In [31]:
f2([ [0, 0], [0, 1], [1, 0] ])

3.414213562373095

3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [44]:
def f3(x):
    a=len(x[0])
    b=len(x)
    l=[]
    for i in range(a):
    
        sum=0
        
        for j in range(b):
            sum+=x[j][i]
        l.append(sum)
        
    return max(l)

In [45]:
f3([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

3

In [46]:
f3([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

4

In [47]:
f3([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [48]:
def f4(x):
    if x<=32:
        return 0
    elif x<=40:
        return (x-32)*325
    elif x<=48:
        return (x-40)*550+325*8
    else:
        return (x-48)*600+325*8+8*550

In [49]:
f4(15)

0

In [50]:
f4(37)

1625

In [51]:
f4(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [77]:
def f5(x):
    l=[]
    for i in str(x):
        l.append(i)
    sum=0
    for i in l:
        sum+=int(i)**(l.index(i)+1)
    if x==sum:
        return True
    else:
        return False

In [78]:
f5(518)

True

In [79]:
f5(466)

False

In [80]:
f5(135)

True

In [81]:
f5(8)

True